# metadata_agent.ini
[DEFAULT]
nova_metadata_ip = {{ address('nova-api', with_scheme=True) }}
nova_metadata_port = {{ nova.metadata.port.cont }}
metadata_proxy_shared_secret = {{ nova.metadata.secret }}
