{% for device_name, device_info in neutron.genericswitch.devices.iteritems() -%}

[genericswitch:{{ device_name }}]
{% for key, value in device_info.iteritems() -%}
{{ key }} = {{ value }}
{% endfor %}

{%- endfor %}
