# ml2_conf.ini
[ml2]
# Changing type_drivers after bootstrap can lead to database inconsistencies
{% if neutron.plugin_agent == "calico" %}
type_drivers = local, flat
tenant_network_types = local
{% else %}
type_drivers = flat,vlan,vxlan
tenant_network_types = vxlan
{% endif %}

{% if neutron.plugin_agent == "openvswitch" %}
mechanism_drivers = openvswitch,l2population
{% elif neutron.plugin_agent == "linuxbridge" %}
mechanism_drivers = linuxbridge,l2population
{% elif neutron.plugin_agent == "calico" %}
mechanism_drivers = calico
{% endif %}

{% if neutron.enable_qos %}
extension_drivers = qos
{% endif %}

{% set vlan, flat, bm, im = [], [], [], [] -%}
{% for net in neutron.physnets -%}
{% if net.vlan_range -%}
{% set _ = vlan.append(net.name + ":" + net.vlan_range) -%}
{% endif -%}
{% if net.flat -%}
{% set _ = flat.append(net.name) -%}
{% endif -%}
{% set _ = bm.append(net.name + ":" + net.bridge_name) -%}
{% set _ = im.append(net.name + ":" + net.interface) -%}
{% endfor -%}

[ml2_type_vlan]
network_vlan_ranges = {{ vlan|join(",") }}

[ml2_type_flat]
flat_networks = {{ flat|join(",") }}

[ml2_type_vxlan]
vni_ranges = 1:1000
vxlan_group = 239.1.1.1

[securitygroup]
{% if neutron.plugin_agent == "openvswitch" %}
firewall_driver = neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
{% elif neutron.plugin_agent == "linuxbridge" %}
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
{% endif %}

{% if neutron.plugin_agent == "openvswitch" %}
[agent]
tunnel_types = vxlan
l2_population = true
arp_responder = true

[ovs]
ovsdb_interface = {{ neutron.ovsdb.interface }}
ovsdb_connection = {{ neutron.ovsdb.connection }}
bridge_mappings = {{ bm|join(",") }}
{% elif neutron.plugin_agent == "linuxbridge" %}
[linux_bridge]
physical_interface_mappings = {{ im|join(",") }}

[vxlan]
l2_population = true
{% endif %}
local_ip = {{ network_topology["private"]["address"] }}

{% if neutron.plugin_agent == "calico" %}
[calico]
etcd_host = {{ neutron.calico.etcd_host }}
etcd_port = {{ neutron.calico.etcd_port.cont }}
{% endif %}
