#!/bin/bash

set -ex

{% if neutron.bootstrap.internal.enable %}
{% set int = neutron.bootstrap.internal %}
openstack network create --provider-network-type vxlan --provider-segment 77 {{ int.net_name }}
openstack subnet create --subnet-range {{ int.cidr }} --gateway {{ int.gateway }} --network {{ int.net_name }} {{ int.subnet_name }}
{% endif %}

{% if neutron.bootstrap.external.enable %}
{% set ext = neutron.bootstrap.external %}
openstack network create --default --external --share --provider-network-type flat --provider-physical-network physnet1 {{ ext.net_name }}
openstack subnet create --subnet-range {{ ext.cidr }} --no-dhcp --gateway auto --network {{ ext.net_name }} --allocation-pool start={{ ext.pool.start }},end={{ ext.pool.end }} --dns-nameserver 8.8.8.8 {{ ext.subnet_name }}
{% endif %}
