server {
       listen {{ network_topology["private"]["address"] }}:{{ neutron.server_port.cont }};
       ssl on;
       ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
       ssl_session_cache shared:SSL:10m;
       ssl_ciphers {{ nginx.ciphers }};
       ssl_prefer_server_ciphers on;
       ssl_certificate /opt/ccp/etc/tls/server-cert.pem;
       ssl_certificate_key /opt/ccp/etc/tls/server-key.pem;

       location / {
               proxy_pass http://neutron_server;
               proxy_set_header Host $host:$server_port;
               proxy_set_header X-Real-IP $remote_addr;
               proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
               proxy_set_header X-Forwarded-Proto $scheme;
       }
}

