#!/bin/bash -ex

data='{"name":"admin", "description":"admin account", "enabled":"true", "email":"", "password":"password"}'

curl -u admin:admin -X PUT -H "Content-Type: application/json" --data "$data" {{ address('opendaylight', port=opendaylight.dlux_port, with_scheme=True) }}/auth/v1/users/admin@sdn
