#!/bin/bash -ex

odl_ip={{ address('opendaylight') | gethostbyname }}
odl_port={{ opendaylight.ovs_port.cont }}
odl_boot_wait_url=restconf/operational/network-topology:network-topology/topology/netvirt:1

odl_boot_wait_timeout=600
odl_retry_check_interval=5

testcmd="curl -o /dev/null --fail --silent --head -u \
         admin:admin http://${odl_ip}:${odl_port}/${odl_boot_wait_url}"

if ! timeout $odl_boot_wait_timeout sh -c "while ! $testcmd; do sleep $odl_retry_check_interval; done"; then
        exit $?
fi
